name: Actionlint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

permissions:
  contents: read # Only needed for private repos. Needed to clone the repo.

defaults:
  run:
    shell: bash

jobs:
  actionlint:
    name: Actionlint
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/garbee/mtgjson-cli-devcontainer@sha256:149e002097429f9ba25020c0c9c1a76b0c91c28d8df200f397fa5007d56a9881 # on.manual-35_1_2026-02-09-12-31-13
    permissions:
      contents: read # Only needed for private repos. Needed to clone the repo.
      actions: read # Only needed for private repos. Needed for upload-sarif to read workflow run info.
      security-events: write # Required for upload-sarif to upload SARIF files.
    steps:
      - name: Start Workflow Telemetry
        uses: dev-hato/actions-workflow-metrics@5269359070fd41816e138edfdeec9caff3f71135 # v0.0.3
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Check workflow files
        run: actionlint -format "$(cat .github/formatters/actionlint-sarif.gotmpl)" .github/workflows/*.yml > actionlint.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4.32.2
        with:
          sarif_file: actionlint.sarif
          category: actionlint
