name: Hadolint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  hadolint:
    name: Hadolint
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    container:
      image: ghcr.io/garbee/mtgjson-cli-devcontainer@sha256:149e002097429f9ba25020c0c9c1a76b0c91c28d8df200f397fa5007d56a9881 # on.manual-35_1_2026-02-09-12-31-13
    permissions:
      contents: read
    steps:
      - name: Start Workflow Telemetry
        uses: dev-hato/actions-workflow-metrics@5269359070fd41816e138edfdeec9caff3f71135 # v0.0.3
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Run hadolint
        run: |
          set -euoC pipefail
          find . -name 'Dockerfile' -o -name 'Dockerfile.*' | grep -v '.git' | while read -r dockerfile; do
            echo "Linting $dockerfile"
            hadolint "$dockerfile"
          done
